<header class="navbar navbar-fixed-top navbar-inverse">
  
  <div class="container">
    
    <% def admin?
      @current_user.name == "userRoot"
    end %>
    
    <%= link_to "The GYM", root_path, id: "logo" %>
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Membership", membership_path %></li>
        <li><%= link_to "Classes", classes_path %></li>
          
        <% @articles = Article.all %>
        <% @articles.each do |article| %>
          <li><%= link_to article.title.html_safe, article %></li>
        <% end %>
          
        <% if logged_in? %>
          
          <li class="dropdown">
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Classes", gym_class_index_path if admin? %></li>
              <li><%= link_to "Edit Pages", articles_path if admin? %></li>
              <li><%= link_to "Edit Admin", edit_user_path(current_user) %></li>
              
              <li class="divider"></li>
              <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            </ul>
          </li>
          
         <li>
            <%= link_to "Log Out", logout_path, method: "delete" %>
          </li>
          
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </div>
</header>